Repository NoxInmortus/docker-ldap-tool-box: changes, and which GitLab CI jobs are due for each by the changed paths.
All: white-pages, service-desk, self-service-password, docker_pushrm

white-pages:
  interruptible: true
  retry: 1
  tags:
  - docker
  stage: dbuild_push
  script:
  - docker buildx build --build-arg LTB_PROJECT=white-pages -t ${DOCKERHUB_USER}/${CI_PROJECT_NAME}:white-pages --platform=linux/arm,linux/arm64,linux/amd64 . --push

service-desk:
  interruptible: true
  retry: 1
  tags:
  - docker
  stage: dbuild_push
  script:
  - docker buildx build --build-arg LTB_PROJECT=service-desk -t ${DOCKERHUB_USER}/${CI_PROJECT_NAME}:service-desk --platform=linux/arm,linux/arm64,linux/amd64 . --push

self-service-password:
  interruptible: true
  retry: 1
  tags:
  - docker
  stage: dbuild_push
  script:
  - docker buildx build --build-arg LTB_PROJECT=self-service-password -t ${DOCKERHUB_USER}/${CI_PROJECT_NAME}:self-service-password --platform=linux/arm,linux/arm64,linux/amd64 . --push

docker_pushrm:
  interruptible: true
  retry: 1
  tags:
  - docker
  stage: docker_pushrm
  script:
  - docker pushrm ${DOCKERHUB_USER}/${CI_PROJECT_NAME}

Rework gitlab CI
  .gitlab-ci.yml
Due: none

Features: LDAP Local policy (Self-Service-Password) + remoteip configuration (Apache2)
  README.md
  files/entrypoint.sh
  files/security.conf
  files/self-service-password.sh
Due: white-pages, service-desk, self-service-password, docker_pushrm

Changed: Correct license to have the same as LTB project (GNU General Public License v3.0)
  LICENSE
Due: none

Changed: README.md
  README.md
Due: docker_pushrm

Fixed: README.md
  README.md
Due: docker_pushrm

Added: hadolint & shellcheck as linter, and corrected Dockerfile and *.sh scripts accordingly
  .dockerignore
  .gitlab-ci.yml
  .hadolint.yml
  Dockerfile
  README.md
  files/entrypoint.sh
  files/self-service-password.sh
  files/service-desk.sh
  files/white-pages.sh
Due: white-pages, service-desk, self-service-password, docker_pushrm

Fixed: self-service-password, typo in shell script
  files/self-service-password.sh
Due: self-service-password

Added : APACHE_AUTH_LDAP_TRUSTED_CA & APACHE_AUTH_LDAP_VERIFY_CERT options
  README.md
  files/entrypoint.sh
Due: white-pages, service-desk, self-service-password, docker_pushrm

Cleanup apache2.conf and entrypoint.sh
  Dockerfile
  files/apache2.conf
  files/entrypoint.sh
Due: white-pages, service-desk, self-service-password

Rework gitlab-ci to add ssp-dev
  .gitlab-ci.yml
Due: none

Added: LDAP_TLS_CACERT & LDAP_TLS_REQCERT options
  Dockerfile
  README.md
  files/entrypoint.sh
Due: white-pages, service-desk, self-service-password, docker_pushrm

Fixed: APACHE_AUTH_LDAP_TRUSTED_CA option
  files/entrypoint.sh
Due: white-pages, service-desk, self-service-password

Fixed: RemoteIPInternalProxy wrong netmask
  files/entrypoint.sh
Due: white-pages, service-desk, self-service-password

Fixed: ldap.conf file
  Dockerfile
Due: white-pages, service-desk, self-service-password

[skip-ci]Change LDAP_TLS_REQCERT default value to `demand`
  README.md
  files/entrypoint.sh
Due: white-pages, service-desk, self-service-password, docker_pushrm

Changed: self-service-password behind reverse_proxy by default
  files/self-service-password.sh
Due: self-service-password

Init repository
  .dockerignore
  .gitlab-ci.yml
  Dockerfile
  LICENSE
  README.md
  files/apache2.conf
  files/entrypoint.sh
  files/security.conf
  files/self-service-password.sh
  files/service-desk.sh
  files/white-pages.sh
Due: white-pages, service-desk, self-service-password, docker_pushrm

Added: feature LDAP_SMTP_ALLOW_SELFSIGNED for SSP
  README.md
  files/self-service-password.sh
Due: self-service-password, docker_pushrm

Added: LDAP Local policy (Self-Service-Password) + remoteip configuration (Apache2)
  README.md
  files/entrypoint.sh
  files/security.conf
  files/self-service-password.sh
Due: white-pages, service-desk, self-service-password, docker_pushrm

Changed: Improved gitlab ci
  .gitlab-ci.yml
Due: none

Changed: Correct license to have the same as LTB project (GNU General Public License v3.0)
  LICENSE
  README.md
Due: docker_pushrm

Changed: Changes for apache2.conf and entrypoint.sh
  Dockerfile
  files/apache2.conf
  files/entrypoint.sh
Due: white-pages, service-desk, self-service-password

Fixed: RemoteIPInternalProxy wrong netmask Fixed: APACHE_AUTH_LDAP_TRUSTED_CA option Added: LDAP_TLS_CACERT & LDAP_TLS_REQCERT options Rework gitlab-ci to add ssp-dev
  .gitlab-ci.yml
  Dockerfile
  README.md
  files/entrypoint.sh
Due: white-pages, service-desk, self-service-password, docker_pushrm

Added: Changelog
  .chglog/CHANGELOG.tpl.md
  .chglog/config.yml
  .dockerignore
  .gitlab-ci.yml
Due: none

Added: RemoteIPInternalProxy 10.0.0.0/8 for docker swarm networks
  files/entrypoint.sh
Due: white-pages, service-desk, self-service-password

Changed: Update vhost config following recommandations
  files/entrypoint.sh
Due: white-pages, service-desk, self-service-password

Changed: Update to latest config.inc.php for every app
  CHANGELOG.md
  README.md
  files/self-service-password.sh
  files/service-desk.sh
  files/white-pages.sh
Due: white-pages, service-desk, self-service-password, docker_pushrm

Added: RemoteIPInternalProxy 10.0.0.0/8 for docker swarm networks
  .chglog/CHANGELOG.tpl.md
  .chglog/config.yml
  .dockerignore
  .gitlab-ci.yml
  files/entrypoint.sh
Due: white-pages, service-desk, self-service-password

Changed: Update config.inc.php to latest versions
  files/self-service-password.sh
  files/service-desk.sh
  files/white-pages.sh
Due: white-pages, service-desk, self-service-password

Added: Docker image versioning
  .gitlab-ci.yml
  .gittag
  README.md
Due: docker_pushrm

Fixed: self-service-password php config
  files/self-service-password.sh
Due: self-service-password

Changed: Added debug option for smtp SSP
  README.md
  files/self-service-password.sh
Due: self-service-password, docker_pushrm

Changed: Improved apache2 vhost
  files/entrypoint.sh
Due: white-pages, service-desk, self-service-password

Added: phplint for config.inc.php file to help debug issues
  Dockerfile
  README.md
  files/entrypoint.sh
Due: white-pages, service-desk, self-service-password, docker_pushrm

Path conditions:
  white-pages: any of: Dockerfile, files/apache2.conf, files/security.conf, files/entrypoint.sh, files/white-pages.sh
  service-desk: any of: Dockerfile, files/apache2.conf, files/security.conf, files/entrypoint.sh, files/service-desk.sh
  self-service-password: any of: Dockerfile, files/apache2.conf, files/security.conf, files/entrypoint.sh, files/self-service-password.sh
  docker_pushrm: any of: README.md
